* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ede9e2;
  font-family: Arial, sans-serif;
  color: #3d0000;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: relative;
  padding: 70px;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.logo {
  font-size: 150px;
  color: red;
  top: 40px;
  left: 40px;
  position: absolute;
}

h1 {
  padding-left: 200px;
}

.dark {
  color: #771313;
  font-weight: 200;
  letter-spacing: -3px;
  font-size: 60px;
}

.light {
  color: #c2a593;
  font-weight: 200;
  letter-spacing: -4px;
  font-size: 60px;
}

#second,
#third {
  padding-left: 200px;
}

.little-h {
  color: #771313;
  text-align: right;
}

.little-b {
  color: #771313;
  width: 100%;
  text-align: left;
  position: relative;
  left: 500px;
  font-size: 15px;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section h3 {
  font-style: underline;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-right: 20px;
}

.card {
  width: 320px;
  height: 380px;
  overflow: hidden;
  border-radius: 25px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.card:hover img {
  transform: scale(1.08);
}

.little-f {
  color: #771313;
  width: 100%;
  text-align: left;
  position: relative;
  left: 500px;
  font-size: 15px;
  padding: 20px;
}

h3 {
  padding-left: 20px;
  color: #771313;
}
